# Auto detect text files and perform LF normalization
* text=auto

LOAPlugin.exp export-ignore
LOAPlugin.lib export-ignore
LOAPlugin.pdb export-ignore
toml_to_json.py export-ignore
.github/workflows export-ignore
